<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assistant.acc.mapper.poster.regenerate.RegenerateMapper">

    <!-- regenerate 전체 정보 조회 -->
    <resultMap id="RegenerateAssetDetailMap" type="com.assistant.acc.domain.poster.RegenerateAssetDetail">
        <id     property="filePathNo"        column="file_path_no"/>
        <result property="fileUrl"           column="file_url"/>
        <result property="fileName"          column="file_name"/>
        <result property="extension"         column="extension"/>
        <result property="promptNo"          column="prompt_no"/>
        <result property="visualPrompt"      column="visual_prompt"/>
        <result property="styleName"         column="style_name"/>
        <result property="generatedAssetNo"  column="generated_asset_no"/>
        <result property="promotionNo"       column="promotion_no"/>
        <result property="projectNo"         column="p_no"/>
        <result property="memberNo"          column="m_no"/>
    </resultMap>

    <select id="getRegenerateAssetDetail" parameterType="int" resultMap="RegenerateAssetDetailMap">
        SELECT
        gfp.generate_file_path_no AS file_path_no,
        gfp.file_path             AS file_url,
        gfp.file_name             AS file_name,
        gfp.extension             AS extension,

        ga.prompt_no              AS prompt_no,
        ga.generated_asset_no     AS generated_asset_no,
        ga.promotion_no           AS promotion_no,

        p.visual_prompt           AS visual_prompt,
        p.style_name              AS style_name,

        pr.p_no                   AS p_no,
        pj.m_no                   AS m_no

        FROM generate_file_path gfp
        JOIN generated_asset ga
        ON gfp.generated_asset_no = ga.generated_asset_no
        JOIN prompt p
        ON ga.prompt_no = p.prompt_no
        JOIN promotion pr
        ON ga.promotion_no = pr.promotion_no
        JOIN project pj
        ON pr.p_no = pj.p_no

        WHERE gfp.generate_file_path_no = #{filePathNo}
        LIMIT 1;
    </select>

    <update id="updatePromptVisual">
        UPDATE prompt
        SET visual_prompt = #{newPrompt}
        WHERE prompt_no = #{promptNo};
    </update>

    <update id="updateFilePath">
        UPDATE generate_file_path
        SET
        file_path = #{filePath},
        file_name = #{fileName},
        extension = #{extension}
        WHERE generate_file_path_no = #{filePathNo};
    </update>

    <update id="touchGeneratedAssetUpdateAt">
        UPDATE generated_asset
        SET updated_at = NOW()
        WHERE generated_asset_no = #{generatedAssetNo};
    </update>

</mapper>
