<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assistant.acc.mapper.editor.PromotionPathMapper">


    <resultMap id="PromotionPathResultMap" type="com.assistant.acc.dto.editor.PromotionPathDTO">
        <id     property="promotionPathNo" column="promotion_path_no"/>
        <result property="pNo"             column="p_no"/>
        <result property="dbFilePath"      column="db_file_path"/>
        <result property="dbFileType"      column="db_file_type"/>
        <result property="createAt"        column="create_at"/>
    </resultMap>

    <insert id="insertPromotionPath" parameterType="com.assistant.acc.dto.editor.PromotionPathDTO">
        INSERT INTO promotion_path (
            p_no,
            db_file_path,
            db_file_type,
            create_at
        ) VALUES (
            #{pNo},
            #{dbFilePath},
            #{dbFileType},
            #{createAt}
        )
    </insert>
</mapper>